@model IEnumerable<RizzGamingBase.Models.ViewModels.DiscountDetailVm>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/AdminBoard.cshtml";
}

<h2>詳細資訊</h2>



<div class="row">
    @foreach (var item in Model)
    {
        foreach (var game in item.Game)
        {
            <div class="card card-info col-2">
                <div class="card-header">
                    <h2 class="card-title">@game.Name</h2>
                </div>
                <div class="card-body">
                    <img src="~/Images/DiscountPicture/@game.Iamge" class="w-100 h-auto"/>
                    <p>售價: @game.Price</p>
                    <p>折扣百分比: @game.Percent %</p>
                    <p>折扣後售價: @game.DiscountPrice</p>
                </div>

            </div>
        }
    }
</div>


@Html.ActionLink("上一頁", "Index", new { @class = "btn btn-sm btn-success" })
