@model RizzGamingBase.Models.ViewModels.DiscountVm

@{
   ViewBag.Title = "Edit";
   Layout = "~/Views/Shared/AdminBoard.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-pen-alt"></i>編輯活動</h3>
        </div>
        <div class="card-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-4">
                        <h4>DiscountCreateVm</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Game, new { @class = "Game" })
                        @Html.HiddenFor(model => model.StartDate, new { @class = "StartDate" })
                        @Html.HiddenFor(model => model.EndDate, new { @class = "EndDate" })
                        @Html.HiddenFor(model => model.DiscountType, new { @class = "DiscountType" })



                        <div class="form-group">
                            @Html.LabelFor(model => model.DiscountName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DiscountName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiscountName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.DiscountType, htmlAttributes: new { @class = "form-label col-md-2" })

                            @Html.DropDownListFor(model => model.DiscountType, Model.DiscountTypeList, "請選擇", new { @class = "form-control", @onchange = "updateDiscountType()" })

                            @Html.ValidationMessageFor(model => model.DiscountType, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DiscountImage, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DiscountImage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiscountImage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>設定活動時間:</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservationtime">
                                <input type="hidden" id="selectedDateRange" name="selectedDateRange" />

                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Percent, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Percent, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Percent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <div class="mb-3 col-8">
                        <hr />
                        <table class="table table-bordered" id="discountTable">
                            <thead>
                                <tr>
                                    <th scope="col">圖片</th>
                                    <th scope="col">遊戲名稱</th>
                                    <th scope="col">移除</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>



                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#gameModal"><i class="fas fa-gamepad"></i>選擇遊戲</button>

                        <!-- 模態框 -->
                        <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="gameModalLabel">遊戲選擇</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <!-- 未加入的遊戲列表 -->
                                            <div class="col-md-6">
                                                <h5>未加入的遊戲</h5>
                                                <input type="search" id="keyword" class="form-control" placeholder="想查詢的遊戲" />
                                                <ul id="availableGames" class="list-group">
                                                </ul>
                                            </div>

                                            <!-- 已加入的遊戲列表 -->
                                            <div class="col-md-6">
                                                <h5>已加入的遊戲</h5>
                                                <ul id="selectedGames" class="list-group">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                        <button type="button" class="btn btn-primary" onclick="addSelectedGames()" data-dismiss="modal">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="mb-3">

                <button type="submit" class="btn btn-primary" onclick="updateDiscountGamesInput(); updateSelectedDateRange();"><i class="fas fa-save"></i>儲存</button>

            </div>
        </div>
    </div>

}

@section Scripts {




    <script>
       var availableGames = [];
        var discountGames = [];
        var id = @Html.DisplayFor(modelItem => Model.Id);
        var keyword = "";
        var startDate = '@Model.StartDate.ToString("MM/dd/yyyy hh:mm tt")';  // 格式化 C# 日期字符串
        var endDate = '@Model.EndDate.ToString("MM/dd/yyyy hh:mm tt")';  // 格式化 C# 日期字符串

        $(document).ready(function () {
            loadDiscountGames();

            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                },
                startDate: startDate,
                endDate: endDate
            });
        });



        loadInitialData();

        function loadDiscountGames() {
    $.ajax({
        url: '@Url.Action("GetDiscountGames", "Discount")',
        type: 'GET',
        data: { id: id },
        dataType: 'json',
        success: function (data) {
            discountGames = data;
            generateTable(discountGames);
            updateSelectedDateRange();
        }
        });
    }




        $('#keyword').on('input', event => {

            keyword = event.target.value;
            loadGame(keyword);

        });

        function updateAvailableGamesList() {
            $('#availableGames').empty();
            availableGames.forEach(function (game) {
            $('#availableGames').append('<li data-id="' + game.Id + '">' + game.Name + ' <button type="button" data-id="' + game.Id + '" class="btn btn-primary btn-sm additem"  onclick="selectGame(' + game.Id + ', \'' + game.Name + '\')">選擇</button></li>');
        });
        }

    function loadGame(keyword) {
        $.ajax({
            url: '@Url.Action("GetGames", "Discount")',
            type: 'GET',
            data: { id: id, keyword: keyword},
            dataType: 'json',
            success: function (data) {
                // 從 discountGames 中取得已經存在的遊戲的 Id 陣列
                var existingGameIds = discountGames.map(function (game) {
                    return game.Id;
                });

                // 使用 filter 過濾掉已經存在於 discountGames 的遊戲
                var newGames = data.filter(function (game) {
                    return !existingGameIds.includes(game.Id);
                });

                availableGames = newGames;
                updateAvailableGamesList();
            }
        });
    }



        function generateTable(discountGames) {
            var tableBody = $('#discountTable tbody');
            tableBody.empty();

            discountGames.forEach(function (item) {
            var row = $('<tr>');
            row.append('<td><img src="/Images/DiscountPicture/' + item.Image + '" width="100" height="50" class="img-fluid" /></td>');
            row.append('<td>' + item.Name + '</td>');
            row.append('<td><button type="button" class="btn btn-primary remove" data-id="' + item.Id + '">移除</button></td>');

            tableBody.append(row);
        });
    }

        function loadInitialData() {

            generateTable(discountGames);
            loadGame();
        }



        $(document).on('click', '.remove', function () {
            var gameId = $(this).data('id');
            $.ajax({
            url: '@Url.Action("DelNewItem", "Discount")',
            type: 'GET',
            data: {gameId: gameId },
            success: function (data) {
                var newitem = discountGames.filter(item => item.Id !== gameId);
                discountGames = newitem;
                loadInitialData();
            }
        });
        });


        $('#gameModal').on('show.bs.modal', function () {

        updateAvailableGamesList();

        // 清空已加入的遊戲列表
        $('#selectedGames').empty();
        discountGames.forEach(function (game) {
            $('#selectedGames').append('<li data-id="' + game.Id + '">' + game.Name + ' <button type="button" data-id="' + game.Id + '" class="btn btn-danger btn-sm delitem" onclick="removeSelectedGame(' + game.Id + ')">移除</button></li>');
        });
    });




    // 選擇遊戲
    function selectGame(gameId, gameName) {
    $('#selectedGames').append('<li data-id="' + gameId + '">' + gameName + ' <button type="button" data-id="' + gameId + '" class="btn btn-danger btn-sm"  onclick="removeSelectedGame(' + gameId + ')">移除</button></li>');
    $('#availableGames li[data-id="' + gameId + '"]').remove();


    $.ajax({
        url: '/Discount/AddNewItem',
        type: 'GET',
        data: { gameId: gameId },
        success: function (data) {
            discountGames.push(data);
            alert("已加入");
        }
    });

}

// 移除已加入的遊戲
    function removeSelectedGame(gameId) {

    var gameName = $('#selectedGames li[data-id="' + gameId + '"]').text().trim().split(' ')[0];
    $('#availableGames').append('<li data-id="' + gameId + '">' + gameName + ' <button type="button" data-id="' + gameId + '" class="btn btn-primary btn-sm"  onclick="selectGame(' + gameId + ', \'' + gameName + '\')">選擇</button></li>');

    $('#selectedGames li[data-id="' + gameId + '"]').remove();

        $.ajax({
            url: '/Discount/DelNewItem',
            type: 'GET',
            data: { gameId: gameId },
            success: function (data) {

                var newitem = discountGames.filter(item => item.Id !== gameId);
                discountGames = newitem;
            }
        });
    }

    function addSelectedGames() {

    loadInitialData();

    }

    function updateDiscountGamesInput() {
        var gameIds = discountGames.map(function (game) {
            return game.Id;
        });

        console.log(gameIds);
        $('.Game').val(JSON.stringify(gameIds));
    }

        function updateDiscountType() {
            var selectedValue = $('#DiscountType').val();
            $('#DiscountType').val(selectedValue);
        }
        function updateSelectedDateRange() {

            var selectedDateRange = $('#reservationtime').data('daterangepicker');


            $('#StartDate').val(selectedDateRange.startDate.format('MM/DD/YYYY hh:mm A'));
            $('#EndDate').val(selectedDateRange.endDate.format('MM/DD/YYYY hh:mm A'));
        }


    </script>



}
