@model IEnumerable<RizzGamingBase.Models.ViewModels.BonusProductsIndexVm>

@{
    ViewBag.Title = "Index";
}

<h2>紅利商品列表</h2>

@using (Html.BeginForm("Index", "BonusProducts", FormMethod.Get, new { id = "searchForm" }))
{
    <div class="input-group mb-3">
        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="搜尋紅利商品" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">搜尋</button>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.URL)*@
                <img src="@Url.Content("~/Content/BonusProductPictures/" + item.URL)" alt="@item.Name" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>

@section Scripts
{
    <script>
        window.onload = function () {
            var keyword = sessionStorage.getItem('searchKeyword');
            if (keyword) {
                document.getElementById('keyword').value = keyword;
            }
        };

        document.getElementById('searchForm').addEventListener('submit', function () {
            var keyword = document.getElementById('keyword').value;
            sessionStorage.setItem('searchKeyword', keyword);
        });
    </script>
}
