@model RizzGamingBase.Models.ViewModels.DeveloperGameEditVm

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "fileForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DeveloperGameEditVm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <div class="mb-1"><p class="d-inline-block">選擇主遊戲(若沒則不選擇)</p><button type="button" class="form-label btn btn-light" onclick="showDLCModal()">+</button></div>
            <div id="selectedDLCContainer"></div>
        </div>

        <div id="dlcModal" class="modal modal-lg" tabindex="-1" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">選擇主遊戲</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="DLCActiveClass">      
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">搜尋</span>
                                <input id="search" type="text" class="form-control" placeholder="搜尋" aria-label="Username" aria-describedby="basic-addon1" onkeydown="filterGame()">
                            </div>
                        @foreach (var game in ViewBag.gameList)
                        {
                            <button id="@game.Id" type="button" class="btn btn-primary rounded-pill mr-1 mb-1 " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick="addDLC('@game.Id', '@game.Name')">@game.Name</button>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="mb-1"><p class="d-inline-block">編輯標籤</p><button type="button" class="form-label btn btn-light" onclick="showTagModal()">+</button></div>
            <div id="selectedTagsContainer"></div>
        </div>

        <div id="tagModal" class="modal modal-lg" tabindex="-1" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">編輯標籤</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>已選標籤</h2>
                        <div id="activeAddTag"></div>
                        <hr />
                        <h2>標籤列表</h2>
                        @foreach (var tag in ViewBag.TagList)
                        {
                            <button id="@tag.Id" type="button" class="btn btn-primary rounded-pill mr-1 mb-1 " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick="addTag('@tag.Id', '@tag.Name')">@tag.Name</button>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div>
                <label class="form-label">封面圖片</label>
            </div>
            <input type="file" name="cover" id="fileInputCov" class="form-control d-inline-block" onchange="coverFileChange()" />
            <button type="button" class="btn btn-primary delete-cover " disabled>重新上傳</button>
        </div>
        <div id="coverContainer" class="mb-3"></div>

        <div class="mb-3">
            <div>
                <label class="form-label">展示圖片</label>
            </div>
            <input type="file" name="displayImages" id="fileInputImg" class="form-control d-inline-block" onchange="imageFileChange()" multiple />
            <button type="button" class="btn btn-primary delete-img " disabled>重新上傳</button>
        </div>
        <div id="imageContainer" class="mb-3"></div>

        <div class="mb-3">
            <div>
                <label class="form-label">預告片</label>
            </div>
            <input type="file" name="displayVideo" id="fileInputVdo" class="form-control d-inline-block" onchange="videoFileChange()" />
            <button type="button" class="btn btn-primary delete-vdo " disabled>重新上傳</button>
        </div>
        <div id="videoContainer" class="mb-3"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "form-label col-md-2" })

            @*@Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })


            @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MaxPercent, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.MaxPercent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxPercent, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" id="submit" />
                <input type="button" value="test" class="btn btn-success" id="test" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>

        function coverFileChange() {
            // 获取文件输入框
            var fileInputCov = document.getElementById("fileInputCov");

            //var validFiles = [];  // 用來保存合格的檔案，如有需追蹤做使用

            for (var i = 0; i < fileInputCov.files.length; i++) {
                var file = fileInputCov.files[i];

                // 提取文件名
                var fileName = file.name;
                var fileNameParts = fileName.split('.');
                var mainFileName = fileNameParts.slice(0, -1).join('.');  // 除了最后一个之外的所有部分
                var fileExtension = fileNameParts.slice(-1)[0];  // 最后一个部分
                var allowedExtensions = ['jpg', 'jpeg', 'png'];

                var imgUrl = URL.createObjectURL(file);

                // 判斷附檔名是否符合要求
                if (allowedExtensions.includes(fileExtension.toLowerCase())) {
                    // 顯示圖片
                    $("#coverContainer").append(`
<div class="card d-inline-block" style="width: 18rem;" id="${mainFileName}">
    <img src="${imgUrl}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">${mainFileName}</p>
    </div>
</div>
`);
                    $('.delete-cover').prop('disabled', false);
                } else {
                    // 不符合要求的處理邏輯，例如發出警告
                    alert("不符合要求的檔案：" + fileName);
                    document.getElementById('fileInputCov').value = '';
                }
            }

            if (fileInputCov.files.length >= 1) {
                fileInputCov.disabled = true;
                console.log("File input disabled");
            }

            $('.delete-cover').on('click', function () {
                $('#coverContainer').html("");
                document.getElementById('fileInputCov').value = '';

                $('.delete-cover').prop('disabled', true);
                fileInputCov.disabled = false;

                //formData.delete('cover');
            });
        }

        function imageFileChange() {
            // 获取文件输入框
            var fileInputImg = document.getElementById("fileInputImg");

            //var validFiles = [];  // 用來保存合格的檔案，如有需追蹤做使用

            for (var i = 0; i < fileInputImg.files.length; i++) {
                var file = fileInputImg.files[i];

                // 提取文件名
                var fileName = file.name;
                var fileNameParts = fileName.split('.');
                var mainFileName = fileNameParts.slice(0, -1).join('.');  // 除了最后一个之外的所有部分
                var fileExtension = fileNameParts.slice(-1)[0];  // 最后一个部分
                var allowedExtensions = ['jpg', 'jpeg', 'png'];

                var imgUrl = URL.createObjectURL(file);

                // 判斷附檔名是否符合要求
                if (allowedExtensions.includes(fileExtension.toLowerCase())) {
                    // 顯示圖片
                    $("#imageContainer").append(`
<div class="card d-inline-block" style="width: 18rem;" id="${mainFileName}">
    <img src="${imgUrl}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">${mainFileName}</p>
    </div>
</div>
`);
                    $('.delete-img').prop('disabled', false);
                } else {
                    // 不符合要求的處理邏輯，例如發出警告
                    alert("不符合要求的檔案：" + fileName);
                    document.getElementById('fileInput').value = '';
                }
            }

            if (fileInputImg.files.length >= 5) {
                fileInputImg.disabled = true;
                console.log("File input disabled");
            }

            $('.delete-img').on('click', function () {
                $('#imageContainer').html("");
                document.getElementById('fileInputImg').value = '';

                $('.delete-img').prop('disabled', true);
                fileInputImg.disabled = false;

                //formData.delete('displayImage');
            });
        }

        function videoFileChange() {
            // 获取文件输入框
            var fileInputVdo = document.getElementById("fileInputVdo");

            //var validFiles = [];  // 用來保存合格的檔案，如有需追蹤做使用

            for (var i = 0; i < fileInputVdo.files.length; i++) {
                var file = fileInputVdo.files[i];

                // 提取文件名
                var fileName = file.name;
                var fileNameParts = fileName.split('.');
                var mainFileName = fileNameParts.slice(0, -1).join('.');  // 除了最后一个之外的所有部分
                var fileExtension = fileNameParts.slice(-1)[0];  // 最后一个部分
                var allowedExtensions = ['mp4', 'webm'];

                var vdoUrl = URL.createObjectURL(file);

                console.log(fileName);
                console.log(mainFileName);
                console.log(fileExtension);
                console.log(vdoUrl);

                // 判斷附檔名是否符合要求
                if (allowedExtensions.includes(fileExtension.toLowerCase())) {

                    // 顯示圖片
                    $("#videoContainer").append(`
<div class="card d-inline-block" style="width: 18rem;" id="${mainFileName}">
    <video controls class="card-img-top">
        <source src="${vdoUrl}" type="video/mp4">
    </video>
    <div class="card-body">
        <p class="card-text">${mainFileName}</p>
    </div>
</div>
`);
                    $('.delete-vdo').prop('disabled', false);

                } else {
                    // 不符合要求的處理邏輯，例如發出警告
                    alert("不符合要求的檔案：" + fileName);
                    document.getElementById('fileInput').value = '';
                }
            }

            if (fileInputVdo.files.length >= 2) {
                fileInputVdo.disabled = true;
                console.log("File input disabled");
            }

            $('.delete-vdo').on('click', function () {
                $('#videoContainer').html("");
                document.getElementById('fileInputVdo').value = '';

                $('.delete-vdo').prop('disabled', true);
                fileInputVdo.disabled = false;

                //formData.delete('displayVideo');
            });

            if (fileInputVdo.files.length >= 1) {
                fileInputVdo.disabled = true;
                console.log("File input disabled");
            }
        }

        function showTagModal() {
            $('#tagModal').modal('show');
        }

        let selectedTags = [];

        function addTag(tagId, tagName) {
            //刻劃button功能
            $('#activeAddTag').append(`
                <button id="${tagId}-selected" type="button" class="btn btn-primary rounded-pill mr-1 mb-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick="removeTag('${tagId}')">${tagName}</button>
            `)
            $("#" + tagId).removeClass("btn-primary").addClass("btn-primary-subtle");
            $("#" + tagId).prop("disabled", true);
            $('#selectedTagsContainer').append(`
                <div id="${tagId}-show" class="d-inline-flex bg-primary text-light rounded-pill mr-1 mb-1" style="padding: .25rem .5rem; font-size: 13px">${tagName}</div>
             `)

            selectedTags.push(tagId);
        }

        function removeTag(tagId) {
            $("#" + tagId + "-selected").remove();
            $("#" + tagId).removeClass("btn-primary-subtle").addClass("btn-primary");
            $("#" + tagId).prop("disabled", false);
            $("#" + tagId + "-show").remove();
            selectedTags = selectedTags.filter((id) => id !== tagId);
        }

        function showDLCModal() {
            $('#dlcModal').modal('show');
        }

        let selectedGame = [];

        function addDLC(gameId, gameName) {
            //刻劃button功能
            $('#selectedDLCContainer').find('.bg-primary').remove();
            $('#DLCActiveClass').find('.btn-primary-subtle').prop("disabled", false);
            $('#DLCActiveClass').find('.btn-primary-subtle').removeClass('btn-primary-subtle').addClass("btn-primary");;
            $("#" + gameId).removeClass("btn-primary").addClass("btn-primary-subtle");
            $("#" + gameId).prop("disabled", true);
            $('#selectedDLCContainer').append(`
                <div id="${gameId}-show" class="d-inline-flex bg-primary text-light rounded-pill mr-1 mb-1" style="padding: .25rem .5rem; font-size: 13px">${gameName}</div>
             `)
            
            selectedGame = [gameId];
            console.log(selectedGame);
        }

        function filterGame() {
            var search = $('#search').val();

        }

        $('#submit').on('click',function (e) {
            e.preventDefault();

            var formData = new FormData(document.getElementById('fileForm'));

            //add tag
            for (var i = 0; i < selectedTags.length; i++) {
                formData.append('selectedTags[]', selectedTags[i]);
            }

            //add dlc
            //for (var i = 0; i < selectedTags.length; i++) {
            //    formData.append('selectedGame []', selectedGame[i]);
            //}
            formData.append('selectedGame', selectedGame);

            //add cover
            var cover = document.getElementsByName('cover');
            formData.append('cover', cover);
            console.log("cover");

            //add displayImages
            //var displayImages = document.getElementsByName('displayImages');
            formData.delete('displayImages');
            var displayImages = document.getElementById('fileInputImg');
            var files = displayImages.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                console.log(file);
                formData.append('displayImages', file);
            }

            //add displayVideo
            var displayVideo = document.getElementsByName('displayVideo');
            for (var i = 0; i < displayVideo.length; i++) {
                var file = displayVideo[i].files[0]; // 假設只有一個檔案
                formData.append('displayVideo', file);
            }

            for (var i = 0; i < cover.length; i++) {
                var coverInput = cover[i];
                formData.append('cover', coverInput.files[0]); // 假設只有一個檔案
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Game")',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        ////location.replace('@Url.Content("~/Game/Index")?id=${}');
                        window.location.href = '/Game/Index';
                    } else {

                    }
                },
            });




        });


    </script>
}


@section styles {
    <style>
    </style>
}

