@model IEnumerable<RizzGamingBase.Models.ViewModels.GameIndexVm>

@{
    ViewBag.Title = "Index";
}

<h2>遊戲清單</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="gameTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/Covers/@(item.DeveloperId)/@(item.Id)/@(item.Cover)" alt="Game Cover" style="max-width: 150px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#gameTable').DataTable();
        });

    </script>
}
