@model RizzGamingBase.Models.ViewModels.RegisterVm

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   

        <div class="register-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="../../index2.html" class="h1"><b>Rizz</b>Developer</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">成為遊戲開發者</p>

                    <div class="form-horizontal">
                        <div class="form-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入姓名" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-edit"></span>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入帳號" } })
                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入密碼" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "確認密碼" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-mail-bulk"></span>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入Email" } })
                            @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-phone"></span>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入電話號碼" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms">
                                        同意使用條款 <a href="#">開發商守則</a>
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="註冊" class="btn btn-default" />
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        </div>

                        <div class="social-auth-links text-center">
                            <a href="#" class="btn btn-block btn-primary">
                                <i class="fab fa-facebook mr-2"></i>
                                Sign up using Facebook
                            </a>
                            <a href="#" class="btn btn-block btn-danger">
                                <i class="fab fa-google-plus mr-2"></i>
                                Sign up using Google+
                            </a>
                        </div>

                    </div>
                    <!-- /.form-box -->
                </div><!-- /.card -->
        </div>


     
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
